* {
  box-sizing: border-box;
}
.title {
  text-align: center;
}
#tableContainer {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}
.tableHeader,
.tableHeader > th {
  border: 2px solid black;
}
td {
  border: 1px solid black;
}
